<ul class="breadcrumb">
	<li class="span8">
		<div style="float:left" class="alert alert-info">
			<%= gravatar_image_tag "mangalaman93@gmail.com", :gravatar => { :size => 35 } %>
			First Message
		</div>
	</li>

	<li class="span8">
		<div style="float:right"  class="alert alert-info">
			First Message
			<%= gravatar_image_tag "mangalaman93@gmail.com", :gravatar => { :size => 35 } %>
		</div>
	</li>

	<li class="span8">
		<div style="float:left" class="alert alert-info">
			<%= gravatar_image_tag "mangalaman93@gmail.com", :gravatar => { :size => 35 } %>
			First Message
		</div>
	</li>
	
	<li class="span8">
		<div style="float:right" class="alert alert-info">
			First Message
			<%= gravatar_image_tag "mangalaman93@gmail.com", :gravatar => { :size => 35 } %>
		</div>
	</li>

		<div id="reply-message">
			<%= render 'reply_message' %>
		</div>

	<a class="btn btn-primary btn-small" id="reply_message_btn" tyle="text-align:center">Reply</a>
</ul>