<div id="signin_header" class="well row show-grid">
	<div class="row-fluid">
		<div class="span12">
			<strong>Sign In as an Employee/Intern/admin on OnBoarding Program</strong>
		</div>
	</div>

	<%= render "layouts/showflash" %>

	<%= simple_form_for(:session, :html => {:id => "signin_form",
								  												:class => "form-horizontal"},
								  						  :url => sessions_path) do |f| %>
	  <%= f.input :email, required: true, placeholder: "Email" %>
	  <%= f.input :password, label: 'Password', input_html: { maxlength: 15 }, required: true,  placeholder: "Password" %>
	  <%= f.button :submit, "Sign In", :class => "signin_btn" %>
	<% end %>
</div>