<%= simple_form_for @user, :html => {:id => "signin_form", :class => "form-horizontal"} do |f| %>
<div class="form-inputs">
	<%= f.input :name, required: true %>
  <%= f.input :email, required: true %>
  <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year, order: [:day, :month, :year],
                              required: true %>
  <%= f.input :password, label: 'Password', input_html: { maxlength: 15 }, required: true,
  											 :hint => "Minimum 6 characters" %>
  <%= f.input :password_confirmation, label: 'Confirm', required: true %>
</div>
  <div class="form-actions">
  <%= f.button :submit, "Sign Up" %>
</div>
<% end %>